


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    background-color: #f9f6f1;
    overflow-x: hidden;
}

header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    
    background-color: rgb(246, 104, 65);
    margin: auto;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-radius: 0 0 0 1rem;
   

}
header>nav{
    width: fit-content;
    height: fit-content;

}

header>nav>ul{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 100%;

    
}
header>nav>ul>li{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1rem;

    

}
header>nav>ul>li:hover{
    background-color: #f3bb67;
    transition: 0.3s;
}
header>nav>ul>li:first-child{
    border-radius: 0 0 0 1rem;
}
header>nav>ul>li>a{
    color: #ffffff;
    transition: 0.3s;
}

.heroBanner{
    background-image:
    linear-gradient(to bottom, rgba(63, 38, 2, 0.403), rgba(26, 26, 26, 0.515)),
    url('../asset/ft.jpeg');
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    align-content: center;
}
.heroBanner>div>h1{
    font-family: 'Anton', sans-serif;
    margin-left: 2rem;
    font-size: 8rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.heroBanner>div>p{
    margin: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    max-width: 40vw;
}

footer{
    background-color: #2c2c2c;
}
footer>nav>ul{
    display: flex;
    gap: 1rem;
    padding: 20px;
    justify-content: center;


}

.btn_rs{
    background-color: #45434000;
    font-family: 'Montserrat', sans-serif;
    border: thin solid white;
    padding: 10px 40px;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}
.btn_rs:hover{
    background-color: #454340;
    color: #f3bb67;
    transition: 0.3s;
}

.ticket_container{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px 0 rgba(253, 170, 15, 0.166);
    border-radius: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #242424;
    width: 100%;
    max-width: 55vw;
    max-height: 60vh;
    height: 100%;
}

.ticket_container>h3{
    padding: 1rem;
    font-size: 2rem;

}

.ticket_container>ul{
    background-color: rgb(238, 238, 238);
    border-radius: 1rem;
    border:  thin solid #cbcbcb;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.1);
    width: 100%;
    max-height: 60vh;
    height: 100%;
    overflow-y: auto;
}

.ticket_container>ul>li>div{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.ticket_container>ul>li{
    display: flex;
    flex-direction: column;
    border: thin solid white;
}

.btn_acc{
    background-color: #1c5af5;
    font-family: 'Space Grotesk', sans-serif;
    padding: 25px 30px;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    max-width: fit-content;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

}

.btn_acc:hover{
    background-color: #125bd9;
    color: #f3bb67;
    transition: 0.3s;
}

.btn {

    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fc9803;
    border-radius: .5rem;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    text-align: center;
    margin: auto;
    background-image: url('../asset/image.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
   
}
.btn:hover{
    background-color: #125bd9;
    color: #f3bb67;
    transition: 0.3s;

}

.price{
    font-size: 1.4rem;
    font-weight: 900;
    color: #3558f5;
}
.cate{
    font-size: 1.2rem;
    font-weight: 900;
    color: #000000;
}

.phase{
    font-size: 1.2rem;
    font-weight: 900;
    color: #000000;

}

.left_side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doha{
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 10rem;
}

.doha>h2{

    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: #353535;
    margin: 1rem;
    margin-top: 3rem;
}
.doha_desc{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    color: #353535;
    margin: 1rem;

    margin-bottom: 2rem;
    max-width: 50vw;
    margin: auto;
    margin-top: 2rem;
    line-height: 2.5rem;

}

.doha>ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: auto;
    margin-top: 4rem;
    width: fit-content;

}
.doha>ul>li{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 40vw;
    height: fit-content;
}

.doha>ul>li>figure>img{
    width: 100%;
    object-fit: contain;

}

.doha>ul>li>figure>figcaption{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.doha>ul>li>figure>figcaption>h3{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 900;
color: #353535;
    margin: 1rem;
    margin-top: 1rem;
}
.doha>ul>li>figure>figcaption>p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000;
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    line-height: 2rem;
    
}

.doha>ul>li>figure>figcaption>a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 2rem;
    margin: 1rem
    ;
    padding: 1rem;
    border: thin solid blue;
    color: #000000;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    max-width: fit-content;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.doha>ul>li>figure>figcaption>a:hover{
    background-color: #fbfbfb;
    color: #f3bb67;
    transition: 0.3s;
}

.grid_r{
    transform: translateY(5%);
}

.howto{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.howto>h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: #353535;
    margin: 1rem;
    margin-top: 3rem;
}
.howto>ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    height: 50vh;
    background-color: #fff;
    margin-top: 4rem;
}
.howto>ul>li{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
}
.howto>ul>li>img{
    width: 100%;
    max-width: 15vw;
    object-fit: contain;

}

